<head>
  <link rel="stylesheet" href=
  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
</head>


<div class="container">
  <span class="header">
    <h1 class="name">Coleman Ulry</h1>
    <div class="deschead">
      <a class="hyper" href="https://calvinknights.com/sports/msoc/index"><h3>Calvin University Men's Soccer</h3></a>
      <a class="hyper" href="https://en.wikipedia.org/wiki/Programmer"><h3>Software Developer</h3></a>
    </div>
  </span>


  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Home">
      <mat-card class="box">
        <img src="assets/coleman.JPG" alt="Profile Pic" class="img">
        <div class="spacing">
          <p class="homeText">Hi, I'm Coleman
          </p>
          <p class="descText">I'm currently a Junior at Calvin University, studying Computer Science
            with minors in Business and Data Science, with a particular interest in Front-End Development
            and UI/UX. To see some of my projects, click the Portfolio tab.
          </p>
          <p class="descText">Outside of school, I'm a collegiate soccer player for Calvin University.
            During my first two years, we have made 2 National Semifinals with an appearance in the National
            Championship. We are competing for and seeking the program's first National Title. To see more,
            click the Soccer tab.
          </p>
          <p class="descText">For further links or to get in touch, click the Contact tab, where
            you will find links to my LinkedIn, GitHub, and Instagram.
          </p>
        </div>
      </mat-card>
      <footer>
        <p> -- This site coded by Coleman Ulry, using Angular and Material Design library -- </p>
      </footer>
    </mat-tab>



    <mat-tab label="Portfolio">
      <h2 class="portHeader">Check out some of my software projects:</h2>

      <mat-card class="box">
        <div class="MerContainer">
          <img src="assets/mercury.png" alt="Mercury Logo" class="mercuryimg">
        </div>
        <mat-card-content>
          <div>
            <a href="https://github.com/colemanulry/Mercury/tree/main/Project"><h4 class="mTitle">Mercury Package Management</h4></a>
          </div>
          <p class="mText">
            The current package delivery process at Calvin University consists of thousand-lined
            spreadsheets and Google Forms. This is a rather flawed system for both the processor and
            package recipients. This app, as a solution, makes it easy to log packages, send recipients
            emails, and pick up packages. Learn more about it <a href="https://github.com/colemanulry/Mercury/tree/main/Project">here</a>.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="box">
        <div class="rmcimgCon">
          <img src="assets/rateMyCourse.png" alt="Rate My Course" class="rmcimg">
        </div>
        <mat-card-content>
          <div>
            <a href="https://github.com/colemanulry/RateMyCourse"><h4 class="rmcTitle">Rate My Course</h4></a>
          </div>
          <p class="rmcText">
            A spin-off of <a href="https://www.ratemyprofessors.com/">ratemyprofessors.com</a>, this web app was designed to allow students to rate
            various courses within Calvin University's Computer Science department. For liberal arts students,
            this allows them to gain a greater knowledge of not only the professor of a particular course that ratemyprofessor.com
            would offer, but particular course ratings as well. Through this, they can go into each semester
            confident in the expectations of each course.
            Learn more about it <a href="https://github.com/colemanulry/RateMyCourse">here</a>.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="lastbox">
        <div class="titleCon">
          <mat-card-title class="chatTitle">- Chat App -</mat-card-title>
        </div>
        <mat-card-content>
          <p class="caText">
            I created this web app for my web development course. It's a simple chat app, where messages are stored
            in a Google firebase, and rendered onto the screen in order of the message's timestamp. You are able to choose your own name handle and color theme.
            Feel free to leave a message!
            See it deployed <a href="https://chatreal-c2588.web.app/">here</a>.
          </p>
        </mat-card-content>
      </mat-card>

      <pre><p class="more">More projects are on my GitHub, linked <a href="https://github.com/colemanulry">here</a>
      <a href="https://github.com/colemanulry"><i class="new fab fa-github fa-2x"></i></a></p></pre>


      <a href="#top"><mat-icon class="centerIcon">keyboard_arrow_up</mat-icon></a>

    </mat-tab>



    <mat-tab label="Soccer">

      <mat-card class="box">
        <div class="center">
          <div class="youthTitle">
            <mat-card-title class="center">Calvin University Men Soccer</mat-card-title>
            <pre><mat-card-subtitle class="subt">1 National Championship Appearance | 2x National Semifinalist | 2x Conference Champion</mat-card-subtitle></pre>
            <div class="flex">
              <div class="frame10">
                <img src="assets/FRONTPAGE.jpg" alt="frontpage" class="picture">
              </div>
            </div>
            <div class="flex">
              <div class="frame11">
                <img src="assets/college9.jpg" alt="college9" class="picture">
              </div>
              <div class="frame12">
                <img src="assets/college7.jpg" alt="college7" class="picture">
              </div>
            </div>
            <div class="flex">
              <div class="frame13">
                <img src="assets/college1.jpg" alt="college1" class="picture">
              </div>
              <div class="frame14">
                <img src="assets/college19.jpg" alt="college19" class="picture">
              </div>
            </div>
            <div class="flex">
              <div class="frame15">
                <img src="assets/college15.jpg" alt="college15" class="picture">
              </div>
            </div>
          </div>
        </div>
      </mat-card>


      <mat-card class="box">
        <div class="center">
          <div class="youthTitle">
            <mat-card-title class="center">High School</mat-card-title>
            <pre><mat-card-subtitle class="subt">Captain | 4 Year Starter | 2x All-Conference | All-Region | MVP</mat-card-subtitle></pre>
            <div class="flex">
              <div class="frame3">
                <img src="assets/hs4.jpg" alt="hs4" class="picture">
              </div>
                <div class="frame4">
                  <img src="assets/hs6.jpg" alt="hs6" class="picture">
                </div>
            </div>
            <div class="flex">
              <div class="frame5">
                <img src="assets/hs9.jpg" alt="hs9" class="picture">
              </div>
              <div class="frame6">
                <img src="assets/hs13.jpg" alt="hs13" class="picture">
              </div>
            </div>
            <div class="flex">
              <div class="frame7">
                <img src="assets/hs17.jpg" alt="hs17" class="picture">
              </div>
              <div class="frame8">
                <img src="assets/hs18.jpg" alt="hs18" class="picture">
              </div>
            </div>
            <div class="flex">
              <div class="frame9">
                <img src="assets/signingday.jpg" alt="hs17" class="picture">
              </div>
            </div>
          </div>
        </div>
      </mat-card>


      <mat-card class="box">
        <div class="center">
          <div class="youthTitle">
            <mat-card-title class="center">Youth Club</mat-card-title>
            <pre><mat-card-subtitle class="subt">NC State Cup Champion | US Regionals 3rd Place | National League</mat-card-subtitle></pre>
            <div class="flex">
              <div class="frame1">
                <img src="assets/club1.jpg" alt="club1" class="picture">
              </div>
              <div class="frame2">
                <img src="assets/club2.jpg" alt="club2" class="picture">
              </div>
            </div>
          </div>
        </div>
      </mat-card>

      <a href="#top"><mat-icon class="centerIcon">keyboard_arrow_up</mat-icon></a>

    </mat-tab>



    <mat-tab label="Contact">
      <mat-card class="box2">
        <img src="assets/skiing.JPG" alt="Skiing" class="skiingimg">
        <mat-card-content>
          <div>
            <h4 class="conTitle">Get In Touch</h4>
            <div class="link">
              <a href="https://www.linkedin.com/in/coleman-ulry-32858919a/"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
            <div class="git">
              <a href="https://github.com/colemanulry"><i class="fab fa-github fa-3x"></i></a>
            </div>
            <span class="insta">
              <a href="https://www.instagram.com/colemanulry/"><i class="fab fa-instagram fa-3x"></i></a>
              <div class="instaCon">
                <a href="https://www.instagram.com/colemanulry/"><p class="user">@colemanulry</p></a>
              </div>
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>

  </mat-tab-group>

</div>